<div class="container text-center">
  <h1 class="main_title">RUBY SHOPS</h1>
  <%= form_tag root_path, method: :get, enforce_utf8: false do %>
    <%= text_field_tag :search, params[:search], class: "search", autofocus: true %>
  <% end %>
  <%= link_to "#", data: { toggle: "modal", target: "#modal" }, class: "add-company" do %>
    <i class="fa fa-plus"></i>
  <% end %>
</div>
<div class="container-fluid">
  <div class="flex-row">
    <div class="col">
      <div class="companies-category-control">
        <%= link_to "agency", "#", class: "category-btn blue-btn btn-active"  %>
        <%= link_to "product", "#", class: "category-btn orange-btn"  %>
      </div>
      <div id="companies-container">
      <% @companies.each do |company| %>
        <%= render 'companies/company_card', company: company %>
      <% end %>
      </div>
    </div>
    <div class="col">
      <div class="map-container">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new Company</h4>
      </div>
      <div class="modal-body" id="new-company-container">
        <%= render 'form', company: @company %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do  %>
  <script>
    $(document).ready(function() {
      $(".search").typed({
        strings: ["Paris", "London", "Berlin", "Bordeaux", "Amsterdam", "Shanghai", "Tokyo", "Brussels", "Lisbon"],
        typeSpeed: 3,
        attr: 'placeholder'
      });

      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    })
  </script>
<% end %>
