<div class="container text-center">
  <h1 class="main_title">RUBY COMPANIES</h1>
  <%= form_tag root_path, method: :get, enforce_utf8: false do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>

  <button type="button" data-toggle="modal" data-target="#modal">
    Add new company
  </button>
</div>
<div class="container-fluid">
  <div class="flex-row">
    <div class="col">
      <div class="companies-category-control">
        <%= link_to "agency", "#", class: "category-btn blue-btn btn-active"  %>
        <%= link_to "product", "#", class: "category-btn orange-btn"  %>
      </div>
      <% @companies.each do |company| %>
        <%= render 'companies/company_card', company: company %>
      <% end %>
    </div>
    <div class="col">
      <div class="map-container">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new Company</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @company, url: root_path, remote: true do |f| %>
          <%= f.input :name %>
          <%= f.input :url %>
          <div class="row">
            <div class="col-xs-6"><%= f.association :category, include_blank: 'Select a category' %></div>
            <div class="col-xs-6"><%= f.input :employees %></div>
          </div>
          <%= simple_fields_for :city do |c| %>
          <div class="row">
            <div class="col-xs-6"><%= c.input :name, label: 'City' %></div>
            <div class="col-xs-6"><%= c.input :country, priority: ['FR', 'GB', 'DE', 'NL', 'BE', 'PT', 'DK', 'ES', 'CA', 'BR', 'CN', 'JP'], include_blank: 'Select a country' %></div>
          </div>
          <% end %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do  %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    })
  </script>
<% end %>

